<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>提交订单</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet">
    <script th:src="@{/bootstrap/js/bootstrap.bundle.js}"></script>

    <style>
        #order{
            display: flex;
            justify-content:center;
            align-items:center;
            height: 100vh;
        }
    </style>
</head>
<body>

<div th:replace="common :: #upmenu"></div>

<div id="order">
    <div>
        <div class="container mt-3">
<!--            <h4 style="color: #ff7800;">[[${session.loginsuccess.userName}]] 欢迎您进入购买页面!</h4>-->
            <div class="card" style="width:400px">
                <img class="card-img-top" th:src="${item.itemImg}" alt="Card image" style="width:100%">
                <div class="card-body">
                    <ul>
                        <li id="price" th:value="${item.itemprice}" hidden>[[${item.itemprice}]]</li>
                    </ul>
                    <h4 class="card-title" th:text="'¥'+${item.itemprice}" style="color: red"></h4>
                    <p class="card-text" th:text="${item.itemDes}"></p>
                    <div class="btn btn-outline-success"
                         th:onclick="integral([[${item.itemId}]])"
                       data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="积分至少填入数字0">点击购买
                    </div>

                    <hr>
                    <div class="card" style="width: 18rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">使用积分:
                                <input type="number" id="integral" onkeyup="checkup()"></li>
                            <li class="list-group-item">目前您的余额为: [[${session.loginsuccess.userMoney}]] 元</li>
                            <li class="list-group-item" id="userBranch" th:value="${session.loginsuccess.userBranch}">
                                目前您的积分为: [[${session.loginsuccess.userBranch}]] 分</li>
                            <li class="list-group-item" id="checktext"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<script th:src="@{/js/axios.min.js}"></script>-->
<script>
    let popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    let popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
    })

    function integral(itemId0){
        // console.log('商品id',itemId0);
        let integral = document.getElementById("integral").value;
        // let userBranch = document.getElementById("userBranch").value;
        // console.log('积分数量',integral);
        // console.log('数量',userBranch);
        let itemId = itemId0.toString();
        // console.log('商品id:',itemId);
        let bool = checkup();
        if (bool) {
            top.location.href=`/shop/shopping/${itemId}/${integral}`;
            alert("购买成功");
            top.location.href=`/shop/recording`
        }else {
            return false;
        }

    }

    function checkup() {
        let check = false;

        let integrals = document.getElementById("integral").value;
        let userBranch = document.getElementById("userBranch").value;
        let itemprice = document.getElementById("price").value;

        let integral = document.getElementById("integral").value;
        let cnPattern = /^([1-9]\d*|[0])$/;
        if (!cnPattern.test(integral)||integrals>userBranch) {
            document.getElementById("checktext").innerHTML = "<span style='color:red'>请填写合理的积分</span>";
            check = false;
        } else if(integrals*0.8>0.5*itemprice){
            document.getElementById("checktext").innerHTML = "<span style='color:red'>抵消金额不能超过商品价格的一半</span>";
            check = false;
        } else {
            document.getElementById("checktext").innerHTML = "<span style='color:green'>积分将会抵消部分金额</span>";
            check = true;
        }
        return check;
    }

</script>

</body>
</html>
