<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>root-商城信息</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet">
    <script th:src="@{/bootstrap/js/bootstrap.bundle.js}"></script>

    <style>
        /*#center{*/
        /*    display: flex;*/
        /*    justify-content:center;*/
        /*    !*align-items:center;*!*/
        /*    height: 100vh;*/
        /*}*/
    </style>
</head>
<body>

<div th:replace="common :: #upmenu"></div>

<!--<div id="d">-->
<!--    <div class="card">-->
<!--        <div class="card-body">-->
<!--            <h4 th:text="'管理员 '+ ${session.loginsuccess.userName}+' 您好!'" style="color: #151fd0"></h4>-->
<!--            &lt;!&ndash;            <p class="card-text">当前余额:xxx</p>&ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div id="center">
    <!-- Carousel -->
    <div id="demo" class="carousel slide" data-bs-ride="carousel">

        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <!--            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>-->
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/1.jpg" class="d-block" style="width:100%">
                <div class="carousel-caption">
                    <h2>Welcome [[${session.loginsuccess.userName}]] to the mall ！</h2>
                    <h3>当前余额 :  [[*{session.loginsuccess.userMoney}]] ¥</h3>
                    <h3>当前积分 :  [[*{session.loginsuccess.userBranch}]]</h3>
                    <h3>订单总数 :  [[*{session.loginsuccess.userCount}]]</h3>
                    <h3>会员等级 :  [[*{session.loginsuccess.userGrade}]] 级</h3>
                    <h3>消费总额 :  [[*{session.loginsuccess.userSpend}]] ¥</h3>
                    <p>我的昼间之花，落下它那被遗忘的花瓣，在黄昏中，这花成熟为一颗记忆的金果～～</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/images/2.jpg" class="d-block" style="width:100%">
                <div class="carousel-caption">
                    <h3>
                        <div th:switch="${session.loginsuccess.userSex}">
                            <span th:case="0">性别 :  女</span>
                            <span th:case="1">性别 :  男</span>
                        </div>
                    </h3>
                    <h3>年龄 :  [[*{session.loginsuccess.userAge}]]</h3>
                    <h3>职业 :  [[*{session.loginsuccess.userWork}]]</h3>
                    <h3>收货地址 :  [[*{session.loginsuccess.userAddress}]]</h3>
                    <h3>联系电话 :  [[*{session.loginsuccess.userPhone}]]</h3>
                    <p>我的晚色从陌生的树木中走来，它用我的晓星所不懂得的语言说话～～</p>
                </div>
            </div>

        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>

    </div>

</div>

</body>
</html>
