<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>搜索商品🔍</title>
    <link rel="stylesheet" th:href="@{/index/css/style.css}"/>

    <script th:src="@{/bootstrap/js/bootstrap.bundle.js}"></script>

    <style>
        .user-button { /* 按钮美化 */
            width: 170px; /* 宽度 */
            height: 40px; /* 高度 */
            border-width: 0px; /* 边框宽度 */
            border-radius: 3px; /* 边框半径 */
            background: #558acc; /* 背景颜色 */
            cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
            outline: none; /* 不显示轮廓线 */
            font-family: Microsoft YaHei,serif; /* 设置字体 */
            color: white; /* 字体颜色 */
            font-size: 17px; /* 字体大小 */
        }
        .user-button:hover { /* 鼠标移入按钮范围时改变颜色 */
            background: #0450b9;
        }

    </style>
</head>

<body class="pg">
<div class="page">
    <div id="app" class=" mallist tmall- page-not-market ">

        <!-- 头部搜索 -->
        <div id="header" class=" header-list-app">
            <div class="headerLayout">
                <div class="headerCon ">
                    <!-- Logo-->
                    <h1 id="mallLogo">
                        <!--                        <img th:src="@{/images/jdlogo.png}" alt="">-->
                        <button type="button" class="user-button">
                            <a th:href="@{/shop/usercenter}">个人中心</a>
                        </button>
                    </h1>

                    <div class="header-extra">

                        <!--搜索-->
                        <div id="mallSearch" class="mall-search">
                            <form name="searchTop" class="mallSearch-form clearfix">
                                <fieldset>
                                    <legend>jd</legend>
                                    <div class="mallSearch-input clearfix">
                                        <div class="s-combobox" id="s-combobox-685">
                                            <div class="s-combobox-input-wrap">
                                                <input v-model="keyword" type="text" autocomplete="off" id="mq"
                                                       class="s-combobox-input" aria-haspopup="true">
                                            </div>
                                        </div>
                                        <button type="submit" @click.prevent="searchKey()" id="searchbtn">搜索</button>
                                    </div>
                                </fieldset>
                            </form>
                            <ul class="relKeyTop">
                                <li><a style='color:red'>热销</a></li>
                                <li><a><div @click="searchKey('java')">java</div></a></li>
                                <li><a><div @click="searchKey('MySql')">MySql</div></a></li>
                                <li><a><div @click="searchKey('JavaScript')">JavaScript</div></a></li>
                                <li><a><div @click="searchKey('Spring')">Spring</div></a></li>
                                <li><a><div @click="searchKey('Redis')">Redis</div></a></li>
                                <li><a><div @click="searchKey('Docker')">Docker</div></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 商品详情页面 -->
        <div id="content">
            <div class="main">
                <!-- 品牌分类 -->
                <form class="navAttrsForm">
                    <div class="attrs j_NavAttrs" style="display:block">
                        <div class="brandAttr j_nav_brand">
                            <div class="j_Brand attr">
<!--                                <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet">-->
                                <div class="attrKey">
                                    超市会员管理系统
                                </div>
                                <div class="attrValues">
                                    <ul class="av-collapse row-2">
                                        <li><a href="#" style='color:red'> 小组成员 : </a></li>
                                        <li><a href="#"> 张浩男 </a></li>
                                        <li><a href="#"> 李涵钰 </a></li>
                                        <li><a href="#"> 仝思凡 </a></li>
                                        <li><a href="#"> 周天祥 </a></li>
                                        <li><a href="#"> 数据科学与大数据技术2001班 </a></li>
                                        <li><div style='color:red'>价格区间:</div></li>
                                        <li>
                                            <input v-model="ge" type="number" id="gege">
                                        </li>
                                        <li>
                                            <input v-model="le" type="number" id="lele">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

<!--                <div>超市会员管理系统</div>-->

                <!-- 排序规则 -->
                <div class="filter clearfix">
                    <a class="fSort fSort-cur">综合<i class="f-ico-arrow-d"></i></a>
                    <a class="fSort" @click="searchKey('诺贝尔')">书籍<i class="f-ico-arrow-d"></i></a>
                    <a class="fSort" @click="searchKey('Apple')">数码<i class="f-ico-arrow-d"></i></a>
                    <a class="fSort" @click="searchKey('生活')">生活<i class="f-ico-arrow-d"></i></a>
                    <a class="fSort" @click="searchKey('零食')">零食<i class="f-ico-arrow-d"></i></a>
                    <a class="fSort" @click="searchKey('裙子')">衣物<i class="f-ico-arrow-d"></i></a>
                    <a class="fSort" @click="searchKey('蔬菜')">果蔬<i class="f-ico-arrow-d"></i></a>
                    <a class="fSort" @click="searchKey('电器')">电器<i class="f-ico-arrow-d"></i></a>
                    <a class="fSort" @click="searchKey('医药')">医药<i class="f-ico-arrow-d"></i></a>
                    <a class="fSort" @click="searchKey('饰品')">饰品<i class="f-ico-arrow-d"></i></a>
                    <a class="fSort" @click="searchKey('箱包')">箱包<i class="f-ico-arrow-d"></i></a>
                    <a class="fSort" @click="searchKey('洗护')">洗护<i class="f-ico-arrow-d"></i></a>
                    <a class="fSort" @click="searchKey('母婴')">母婴<i class="f-ico-arrow-d"></i></a>
                    <a class="fSort" @click="searchKey('百货')">百货<i class="f-ico-arrow-d"></i></a>
                    <a class="fSort" @click="searchKey('超跑')">车品<i class="f-ico-arrow-d"></i></a>
                    <a class="fSort" @click="searchKey('壁挂')">家装<i class="f-ico-arrow-d"></i></a>
                    <a class="fSort" @click="searchKey('化妆品')">美妆<i class="f-ico-arrow-d"></i></a>
                    <a class="fSort" @click="searchKey('女鞋')">女鞋<i class="f-ico-arrow-d"></i></a>
                    <a class="fSort" @click="searchKey('男鞋')">男鞋<i class="f-ico-arrow-d"></i></a>
                    <a class="fSort" @click="searchKey('食品')">食品<i class="f-ico-arrow-d"></i></a>
                    <a class="fSort" @click="searchKey('保健')">保健<i class="f-ico-arrow-d"></i></a>
                    <a class="fSort" @click="searchKey('运动')">运动<i class="f-ico-arrow-d"></i></a>
                    <a class="fSort" @click="searchKey('男装')">男装<i class="f-ico-arrow-d"></i></a>
                    <a class="fSort" @click="searchKey('女装')">女装<i class="f-ico-arrow-d"></i></a>
                    <a class="fSort" @click="searchKey('玩具')">儿童<i class="f-ico-arrow-d"></i></a>
                    <a class="fSort" @click="searchKey('家装')">装修<i class="f-ico-arrow-d"></i></a>

<!--                    <a class="fSort"><i class="f-ico-triangle-mt"></i><i class="f-ico-triangle-mb"></i></a>-->
                </div>

                <!-- 商品详情 -->
                <div class="view grid-nosku" >

                    <div class="product" v-for="result in results">
                        <div class="product-iWrap" @click.prevent="transaction(result.id)">
                            <!--商品封面-->
                            <div class="productImg-wrap">
                                <a class="productImg">
                                    <img :src="result.img">
                                </a>
                            </div>
                            <!--价格-->
                            <p class="productPrice">
                                <em v-text="result.price"></em>
                            </p>
                            <!--描述-->
                            <p class="productTitle">
                                <a v-html="result.name"></a>
                            </p>
                            <!-- 店铺名 -->
                            <div class="productShop">
                                <span>店铺：会飞的小鱼儿 </span>
                            </div>
                            <!-- 成交信息 -->
                            <p class="productStatus">
                                <span>成交量<em>86笔</em></span>
                                <span>浏览量 <a>78</a></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/vue.min.js}"></script>
<script th:src="@{/js/axios.min.js}"></script>
<script>
    new Vue({
        el:"#app",
        data:{
            "keyword": '', // 搜索的关键字
            "ge": '', // 大于等于
            "le": '', // 小于等于
            "numbers": '',  //绑定商品的编号
            "results":[], // 后端返回的结果
        },
        methods:{
            searchKey(words){
                let keyword = this.keyword;
                let ge = this.ge;
                let le = this.le;
                if (keyword==='') {
                    keyword="qiandao";
                }
                if (ge==='') {
                    ge=0;
                }
                if (le==='') {
                    le=1000000;
                }
                // if (ge > le) {
                //     alert("请输入正确的价格区间!")
                //     // Vue.nextTick(function(){
                //     //     $("#gege").val('');
                //     //     $("#lele").val('');
                //     // })
                //     this.ge="";
                //     this.le="";
                //     return;
                // }
                if (typeof words !== 'undefined') {
                    keyword=words;
                }
                // console.log(keyword,ge,le,words);
                // let href = decodeURIComponent(`core/item/searchbysql/${keyword}/${ge}/${le}`);
                // let href = `core/item/searchbysql/${keyword}/${ge}/${le}`;
                let href =
                    "core/item/searchbysql/"+encodeURI(encodeURI(keyword))+"/"+ge+"/"+le;
                //这里传输中文要编码
                axios.get(href).then(response=>{
                    console.log(response.data);
                    this.results=response.data;
                    this.ge="";
                    this.le="";
                })
            },
            transaction(num) {
                top.location.href=`/first/order/${num}`;
                // let href = `shops/order/${num}`;
                // axios.get(href);
            }
        },
        mounted:function (){
            this.searchKey();   //默认触发的函数
        }
    });

</script>

</body>
</html>

